# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db



/paco

/servicos/dist
/servicos/tmp
/servicos/out-tsc

# dependencies
/servicos/node_modules

# IDEs and editors
/servicos/.idea
/servicos/.project
/servicos/.classpath
/servicos/.c9/
/servicos/*.launch
/servicos/.settings/
/servicos/*.sublime-workspace

# IDE - VSCode
/servicos/.vscode/*
/servicos/!.vscode/settings.json
/servicos/!.vscode/tasks.json
/servicos/!.vscode/launch.json
/servicos/!.vscode/extensions.json

# misc
/servicos/.sass-cache
/servicos/connect.lock
/servicos/coverage
/servicos/libpeerconnection.log
/servicos/npm-debug.log
/servicos/yarn-error.log
/servicos/testem.log
/servicos/typings

# System Files
/servicos/.DS_Store
/servicos/Thumbs.db

# Ejercicio 3

/ejercicio3/dist
/ejercicio3/tmp
/ejercicio3/out-tsc

# dependencies
/ejercicio3/node_modules

# IDEs and editors
/ejercicio3/.idea
/ejercicio3/.project
/ejercicio3/.classpath
/ejercicio3/.c9/
/ejercicio3/*.launch
/ejercicio3/.settings/
/ejercicio3/*.sublime-workspace

# IDE - VSCode
/ejercicio3/.vscode/*
/ejercicio3/!.vscode/settings.json
/ejercicio3/!.vscode/tasks.json
/ejercicio3/!.vscode/launch.json
/ejercicio3/!.vscode/extensions.json

# misc
/ejercicio3/.sass-cache
/ejercicio3/connect.lock
/ejercicio3/coverage
/ejercicio3/libpeerconnection.log
/ejercicio3/npm-debug.log
/ejercicio3/yarn-error.log
/ejercicio3/testem.log
/ejercicio3/typings

# System Files
/ejercicio3/.DS_Store
/ejercicio3/Thumbs.db

/miangularapp/*


#Unidad 6

/unidad6/dist
/unidad6/tmp
/unidad6/out-tsc

# dependencies
/unidad6/node_modules

# IDEs and editors
/unidad6/.idea
/unidad6/.project
/unidad6/.classpath
/unidad6/.c9/
/unidad6/*.launch
/unidad6/.settings/
/unidad6/*.sublime-workspace

# IDE - VSCode
/unidad6/.vscode/*
/unidad6/!.vscode/settings.json
/unidad6/!.vscode/tasks.json
/unidad6/!.vscode/launch.json
/unidad6/!.vscode/extensions.json

# misc
/unidad6/.sass-cache
/unidad6/connect.lock
/unidad6/coverage
/unidad6/libpeerconnection.log
/unidad6/npm-debug.log
/unidad6/yarn-error.log
/unidad6/testem.log
/unidad6/typings

# System Files
/unidad6/.DS_Store
/unidad6/Thumbs.db

/miangularapp/*


# RUTAS

/rutas/dist
/rutas/tmp
/rutas/out-tsc

# dependencies
/rutas/node_modules

# IDEs and editors
/rutas/.idea
/rutas/.project
/rutas/.classpath
/rutas/.c9/
/rutas/*.launch
/rutas/.settings/
/rutas/*.sublime-workspace

# IDE - VSCode
/rutas/.vscode/*
/rutas/!.vscode/settings.json
/rutas/!.vscode/tasks.json
/rutas/!.vscode/launch.json
/rutas/!.vscode/extensions.json

# misc
/rutas/.sass-cache
/rutas/connect.lock
/rutas/coverage
/rutas/libpeerconnection.log
/rutas/npm-debug.log
/rutas/yarn-error.log
/rutas/testem.log
/rutas/typings

# System Files
/rutas/.DS_Store
/rutas/Thumbs.db



###### NODE

/*/*/node_modules